* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    height: 5rem;
    display: grid;
    grid-template-columns: 14fr 1fr 1fr;
    align-content: center;
}

.title a {
    color: black;
    text-decoration: none;
}

.title h1 {
    font-size: 2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;
    margin-left: 34rem;
}

.user-icon {
    width: 2rem;
}

.user-icon:hover {
    cursor: pointer;
    width: 2.1rem;
    transition: 50ms;
}

.promotion {
    background-color: black;
    color: white;
    height: 2.2rem;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

.slide:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    height: 36rem;
    background-image: url("C:/Users/filko/Desktop/web_dev/projects/personal/lace up/resources/all-laces.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#shop {
    width: 14rem;
    height: 4rem;
    font-size: 2.2rem;
    font-weight: 700;
    background-color: white;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}

#shop:hover {
    cursor: pointer;
    border: 0.25rem solid black;
    transition: 0.1s;
    border-radius: 0.4rem;
    font-size: 2.23rem;
}